.formControl {
  padding: 2rem 6.25rem;
}

.formControl h2 {
  font-size: 1.25rem;
  color: grey;
  word-spacing: 6px;
}

.form {
  padding: 1rem 0;
  display: flex;
  gap: 2rem;
}
.form input {
  width: 20rem;
  height: 2rem;
  padding: 0.25rem;
  font-size: 1rem;
}
.form input::placeholder {
  color: lightgray;
}
.form select {
  width: 15rem;
  padding-left: 1rem;
}
.form select::placeholder {
  color: lightgray;
}
